body{
	background-color: #DBDBDB;
}

#myname {
    width: 500px;
    height: 250px;
    background-color: #004C00;

    /*Making div positioned center->*/
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
	line-height: 100px;

	/*Making div drops a cool shadow->
	-webkit-box-shadow: 0px 34px 100px -41px rgba(0,0,0,1);
	-moz-box-shadow: 0px 34px 100px -41px rgba(0,0,0,1);
	box-shadow: 0px 34px 100px -41px rgba(0,0,0,1);

	Applying some text shadow->
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);

	Lets make the div borders rounded->
	border-radius: 21px 21px 21px 21px;
	-moz-border-radius: 21px 21px 21px 21px;
	-webkit-border-radius: 21px 21px 21px 21px;
	border: 0px solid #000000;
	*/

}


#m{
	color: #FF0000;
}
#u{
	color: #3400CA;
}
#h{
	color: #9D9DFF;
}
#a{
	color: #7E0000;
}
#m1{
	color: #CCFF00;
}
#m2{
	color: #000000;
}
#aa
{
	color: #B2FFB2;
}
#d
{
	color: #00FF00;
}

